@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 20px;
    padding: 20px;
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
    background-color: white;
  }

.box {
    height: 350px;
    margin:20px;
    padding: 45px;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: white;
    font-size: 3em;
}
